#gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #000000;
        --gradient-color-2: #c2410c;
        --gradient-color-3: #a55900;
        --gradient-color-4: #000000;
        --gradient-color-5: #317843;
        --gradient-color-6: #16785b;
        --gradient-color-7: #0f766e;
        --gradient-color-8: #0f766e;
  }
/*
--gradient-color-1: #000000;
        --gradient-color-2: #c2410c;
        --gradient-color-3: #a55900;
        --gradient-color-4: #866800;
        --gradient-color-5: #000000;
        --gradient-color-6: #317843;
        --gradient-color-7: #16785b;
        --gradient-color-8: #0f766e;
*/